

/*! *!*!* NOTES !*!*!*!*!*!*!*!*!*/

/** ENTIRE COMPONANT SECTIONS ARE LABELED UPPERCASE GREEN  */
/*& subsections of components are lowercase pink */
/*~ short descriptions of what a selector does are purple */
/*? description of specific styling rule is blue */

/*! *!*!* NOTES !*!*!*!*!*!*!*!*!*/



/** GLOBAL */

:root {
    --color--primary: #B8885F;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/*~ sets global grid layout */
.main-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
}

/** TYPOGRAPHY */

/*~ font imports */
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);

    font-family: Quantico;
    src: url(/fonts/Quantico-Regular.ttf);
}

/** NAVIGATION */

/*~ general positioning */
.nav-top {
    background: #1A2B34;
    color: rgba(255, 255, 255, 0.582);
    display: flex;
    text-transform: uppercase;
    /*? canters the nav-top-max-width-wrap */
    justify-content: center;
    padding: 0.5rem 1rem;
}

/*~ list appearance */
.nav-top__list--max-width-wrap {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.nav-top__list {
    /*? display links horizontal & remove list bullets */
    display: flex;
    list-style-type: none;
    gap: 1.3rem;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.nav-top__list a {
    /*? 100% typography */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 560;
    text-decoration: none;
    color: white;
    line-height: 0;
    letter-spacing: 0.05rem;
    word-spacing: 1.5px;
}

.nav-top__list a:hover {
    color: #B8885F;
}

@media screen and (max-width: 768px) {
    .nav-top {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .nav-top__list a {
        font-size: 14px;
    }
}
