

/*! *!*!* NOTES !*!*!*!*!*!*!*!*!*/

/** ENTIRE COMPONANT SECTIONS ARE LABELED UPPERCASE GREEN  */
/*& subsections of components are lowercase pink */
/*~ short descriptions of what a selector does are purple */
/*? description of specific styling rule is blue */

/*! *!*!* NOTES !*!*!*!*!*!*!*!*!*/



/** GLOBAL */

:root {
    --banner-main-height: 500px;
    --m-unit--top-reviews-gap: 50px;


    /**COLORS*/
    /*! ******/
    /*^ ******/
    /*? ******/
    --color--primary: #B8885F;
    --color--primary-hover: #a37246;
    --color--discount-tag: #9c2f2f;
    --color--navy: #154977;
    --color--deep-dark-blue: #003349;
    --color--deep-dark-blue-faded: #0033498b;
    --color--light-grey: #CBCBCB;
    --color--lighter-grey: #F8F8F8;
    --color--light-black: #424242;
    --color--lighter-black: #4f4f4f;
    /*~ transparent */
    --color--transparent--thin-white: #ffffff4c;
    --color--transparent--thin-black: rgba(0, 0, 0, 0.2);
    --color--transparent--thinner-black: rgba(0, 0, 0, 0.1);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-image: url(/img/main-background.webp);
    background-repeat: repeat;
    background-size: 50px;

}

a {
    text-decoration: none;
  }

/*~ sets global grid layout */
.main-wrap {
    display: flex;
    flex-direction: column;
    background-image: url(/img/main-background-overlay.png);
    background-repeat: repeat;
    background-size: 200px;
}

/** TYPOGRAPHY */

/*~ font imports */
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);

    font-family: Quantico;
    src: url(/fonts/Quantico-Regular.ttf);
}

.btn {
    width: fit-content;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background: var(--color--primary);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--color--light-black);
    /*? want to make sure the button will keep
        round edges no matter the size of its contents */
    border-radius: 999px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color--primary-hover);
}

/** NAVIGATION */

/*~ general positioning */
.nav-top {
    background: #1A2B34;
    color: rgba(255, 255, 255, 0.582);
    display: flex;
    text-transform: uppercase;
    /*? canters the nav-top-max-width-wrap */
    justify-content: center;
    padding: 0.5rem 1rem;
}

/*~ list appearance */
.nav-top__list--max-width-wrap {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.nav-top__list {
    /*? display links horizontal & remove list bullets */
    display: flex;
    list-style-type: none;
    gap: 1.3rem;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.nav-top__list a {
    /*? 100% typography */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 560;
    color: white;
    line-height: 0;
    letter-spacing: 0.05rem;
    word-spacing: 1.5px;
}

.nav-top__list a:hover {
    color: #B8885F;
}

@media screen and (max-width: 768px) {
    .nav-top {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .nav-top__list a {
        font-size: 14px;
    }
}

/*& nav-main */

/*~ general content positioning */
.nav-main {
    background: url(/img/footer-background.jpg);
    /*? create shadow overlay to darken img */
   
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
}

.nav-main__content--max-width-wrap {
    width: 800px;
}

/*~ top content positioning */
.nav-main__content--top {
    display: flex;
    align-content: center;
    width: 100%;
}

.nav-main__icon--logo {
    width: 200px;
}

/*~ search-bar appearance*/
.nav-main__input-group {
    display: flex;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.508);
    margin: 0.4rem 0 0.4rem 1rem;
}

.nav-main__input-field::placeholder {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.656);
}

/*~ search-bar user-input appearance */
.nav-main__input-field {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(208, 218, 218);
    caret-color: aliceblue;
    width: 100%;
    background: none;
    border: 0;
    outline: none;
    padding-left: 0.8rem;
    /*? perfectly center text */
    padding-top: 0.12rem;
}


/*~ search icon appearance*/
.nav-main__icon--search {
    width: 15px;
    height: 15px;
    margin-right: 0.33rem;
    align-self: center;
}

.nav-main__sign-in {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-main__sign-in p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    margin-left: 1rem
}

.nav-main__sign-in p::after {
    content: '▼';
    font-size: 10px;
    margin: 0.2rem;
}

.nav-main__icon--cart {
    width: 27px;
    height: 22px;
    align-self: center;
    margin-left: 1.2rem;
}

/*& nav-main links */

.nav-main__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: white;
    gap: 0.7rem;
    padding: 1rem 0 0 0;
    margin: 0;
}

.nav-main__list-item--separator {
    font-size: 20px;
    margin: 0;
    color: rgba(240, 248, 255, 0.444);
    transform: translateY(-1.2px);  
}

.nav-main__list a {
    font-family: Quantico;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    
}

.nav-main__list a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color--primary);
    text-decoration-thickness: 0.13rem;
}


/** BANNERS */

/*& BANNER-MAIN */
/*^ JS needed for functionality*/

.banner {
    width: 100%;
    height: var(--banner-main-height);
    overflow: hidden;
    /*? the banner itself must be relative pos for
        the absolute pos of the sections to work */
    position: relative;
}

/*~ positioning & drop-shadow */
.banner__section {
    width: 100%;
    height: var(--banner-main-height);
    /*? so they all overlap */
    position: absolute;
    left: 0;
    top: 0;
    /*? background pos */
    background-size:cover;
    background-position: center;
    /*? for background-color visibility
        so we can see shadow overlay */
    background-blend-mode:color;
    background-color: rgba(0, 0, 0, 0.425);
    transition: opacity 0.5s ease-in-out;
    /*? hide unless active with js */
    opacity: 0;
    /*? line up header, tagline, & btn */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*~ js iterates through banner sections at set interval */
.banner__section.active {
    opacity: 1;
    z-index: 1;
}

/*& BANNER-MAIN background images */

/*~ several options were explored and it was concluded 
    that due to the way i needed the images to overlap 
    that this would be the best solution. To add additional
    banner sections you will need to create a subsequent 
    banner__section--# class */
.banner__section--1 {
    background-image: url(/img/banner-main-img-1.jpg);
}

.banner__section--2 {
    background-image: url(/img/banner-main-img-2.jpg);
}

.banner__section--3 {
    background-image: url(/img/banner-main-img-3.jpg);
}

.banner__section--4 {
    background-image: url(/img/banner-main-img-4.jpg);
}

.banner__section--5 {
    background-image: url(/img/banner-main-img-5.jpg);
}

/*& BANNER-MAIN typography */
.banner__header {
    font-family: Quantico, Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: white;
    margin: 0 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.banner__tagline {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    margin: 1.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.banner__tagline em {
    font-weight: 800;
    font-size: 22px;
    font-style: normal;
}

/*& BANNER__PANABLE */
/*^ JS needed */

/*TODO: FIX NOT ALLOWING SCROLLING LEFT AFTER BUTTON CLICK
  this is likly due to the entire container transforming left but,
  then at the end there is no overflow to scroll because youre at the end*/

  .banner-panable {
    font-family: Quantico, Arial, Helvetica, sans-serif;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    }
    
    .banner-panable__see-all {
      position: absolute;
      right: 1rem;
    }
    
    .banner-panable__see-all a {
     color: var(--color--deep-dark-blue);
     font-size: 18px;
     font-weight: 600;
     padding-right: 1rem;
    }
    
    .banner-panable__see-all a:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.13rem;
    }
    
    /*& BANNER__PANABLE  top-bit */
    
    .banner-panable__head {
      display: flex;
      align-items: center;
    }
    
    .banner-panable__heading {
      margin: 1rem;
      margin-top: 0.5rem;
      color: var(--color--deep-dark-blue);
    }
    
    /*& BANNER__PANABLE  arrow styles */
    .banner-panable__arrow {
      background-color: transparent;
      cursor: pointer;
      /*? makes selection impossible */
      user-select: none;
      /*? keeps left button from moving right button
          when hover & border-size increases */
      line-height: 0;
      /*? control button-size with font-size & padding 
          width may also need adjustment */
      font-size: 37px;
      padding: 0.7rem 0.5rem 1.1rem 0.5rem;
      width: 3.3rem;
      border: 1.2px solid;
      border-radius: 14px;
      margin: 0.5rem;
      margin-top: 0;
    }
    
    .banner-panable__arrow:active,
    .banner-panable__arrow:hover {
      color: var(--color--deep-dark-blue);
      border-color: var(--color--deep-dark-blue);
      border-width: 1.8px;
    }
    
    .banner-panable__arrow-left {
      color: var(--color--deep-dark-blue-faded);
    }
    .banner-panable__arrow-right {
      color: var(--color--deep-dark-blue);
    }
    
    .banner-panable__arrow-left:hover {
      transform: translateX(-0.05rem);
    }
    
    .banner-panable__arrow-right:hover {
      transform: translateX(0.04rem);
    }
    
    
    /*& BANNER__PANABLE product-container */
    .banner-panable__product-container {
      display: flex;
      width: 100%;
      overflow-x: auto;
    }
    
    /*~ remove scrollbar but keep funtionality */
    .banner-panable__product-container::-webkit-scrollbar-track,
    .banner-panable__product-container::-webkit-scrollbar,
    .banner-panable__product-container::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    
    /*~ items overflow grid which overflow container.
    container scrolls X-overflow*/
    .banner-panable__product-grid {
      width: 100%;
      display: flex;
      transition: transform 0.3s ease-in-out;
    }
    
    /*& BANNER__PANABLE  the products */
    .banner-panable__product {
      /*? how much each product takes and subtract left & right margin*/
      flex: 0 0 calc(50% - (1rem * 2)); /* 2 cloumns */
      display: flex;
      flex-direction: column;
      text-align: left;
      background-color: var(--color--lighter-grey);
      border: 1px solid var(--color--transparent--thinner-black);
      border-radius: 0.8rem;
      padding: 0.8rem;
      margin: 0 1rem;
    }
    
    .banner-panable__product-brand {
      color: var(--color--navy);
      margin: 0;
    }
    
    .banner-panable__product-name {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-weight: 600;
      color: var(--color--light-black);
      margin: 0;
    }
    
    /*& BANNER__PANABLE  image */
    .banner-panable__product-img-container {
      width: 100%;
      justify-self: center;
      align-self: center;
      background-color: white;
      border: 1px solid var(--color--light-grey);
      
    }
    
    a .banner-panable__product-discount-tag,
    .banner-panable__product-discount-tag {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      background-color: var(--color--discount-tag);
      color: white;
      position: relative;
      left: -2px;
      top: 1.5px;
      text-transform: none;
      font-size: 12px;
      font-weight: 500;
      clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
      padding: 0.2rem;
      padding-right: 1rem;
    }
    
    a .banner-panable__product-discount-tag:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.1rem;
    }
    
    .banner-panable__product-img {
      object-fit: contain;
      width: 100%;
      max-height: 86px;
      margin: 0.2rem;
    }
    
    /*& BANNER__PANABLE  pricing */
    .banner-panable__product-pricing-group {
      color: var(--color--primary);
      display: flex;
      gap: 0.5rem;
      font-weight: 600;
    }
    
    .banner-panable__product-pricing-group *   {
      margin: 0.5rem 0 0 0;
    }
    
    .banner-panable__product-condition {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      color: var(--color--light-black);
    }
    
    .banner-panable__product-price-drop{
      text-transform: none;
      text-decoration: line-through;
      text-decoration-color: var(--color--light-black);
      text-decoration-thickness: .08rem;
      font-size: 10px;
      align-self: center;
    }
    /*& BANNER__PANABLE  support for small screens */
    @media screen and (max-width: 520px) {
    
      .banner-panable__product {
        flex: 0 0 calc(100% - (1rem * 2));/* 1 column */
      }
    
    }
    /*& BANNER__PANABLE  tablets */
    @media screen and (min-width:768px) {
    
      .banner-panable__product {
          flex: 0 0 calc(25% - (1rem * 2)); /* 4 columns */
      }
    
    }    

    /*& BANNER_SPOTLIGHT */

.banner-spotlight {
  color: white;
}

.banner-spotlight__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 2rem;
  padding: 1rem;
}

.banner-spotlight__spotlight {
  min-height: 550px;
  background-position: center;
  background-size: cover;
  /*? for background-color visibility
      so we can see shadow overlay */
      background-blend-mode:color;
      background-color: rgba(0, 0, 0, 0.26);
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 1rem 2rem 1rem;
  }

.banner-spotlight--1 {
  background-image: url(/img/banner-main-img-1.jpg);
}

.banner-spotlight--2 {
  background-image: url(/img/banner-main-img-2.jpg);
}

.banner-spotlight--3 {
  background-image: url(/img/banner-main-img-3.jpg);
}

.banner-spotlight__tagline {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.banner-spotlight__heading {
  font-family: Quantico, Arial, Helvetica, sans-serif;
  font-size: 32px;
  letter-spacing: 1.5px;
  margin: 0  0 0.5rem 0;
}

@media screen and (max-width: 1024px) {
  .banner-spotlight__grid {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
  }

  .banner-spotlight__spotlight {
      min-height: 350px;
  }
}

/** CALLOUTS */

.callout {
    margin: 1rem 0;
    width: 100%;
    height: auto;
    background-image: url(/img/blue-14.jpg);
    background-size: 777px;
    /*? flex allows a button to be placed if desired */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

.callout--no-btn {
  padding: 0 0 0.5rem 0;
}

.callout__heading {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: white;
    margin: 1.5rem 0 1rem 0;
}

/** SLIDER */
/*^ JS needed */

.star {
  clip-path: polygon(50% 0%, 63% 29%, 98% 35%, 71% 58%, 79% 91%, 50% 73%, 21% 91%, 29% 57%, 2% 35%, 37% 30%);
  /*? the star has relative pos so that
      if desired we can absolutely pos 
      a half star inside it */
  position: relative;
}

.star-half {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #f3f3f3;
  clip-path: polygon(50% 0%, 63% 29%, 98% 35%, 71% 58%, 79% 91%, 50% 73%);
}

.top-reviews__wrap {
  padding: 1.5rem;
  padding-top: 0;
}

.top-reviews {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column; 
  font-family: Roboto;
}

.top-reviews__total-reviews-ammount,
.top-reviews__review-rating-date,
.top-reviews__review-testimony {
  color: #a2a2a2;
  margin: 0;
}


.top-reviews__header {
  /*? margin makes room for total reviews*/
  margin-bottom: 1rem;
  /*? padding keeps buttons from overlapping heading*/
  padding-right: 4rem;
}

.top-reviews__heading {
  font-family: Quantico;
  font-size: 18px;
  color: var(--color--light-black);
}

.top-reviews__total-reviews {
  display: flex;
  position: absolute;
  top: 2.4rem;
  right: 0; 
}

.top-reviews__dir-btn-wrap {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 0;
}

.top-reviews__dir-btn,
.top-reviews__dir-btn-icon {
  background: none;
  border: none;
  height: 16px;
}

.top-reviews__total-reviews-star {
  background-color: #B8865C;
  min-width: 19px;
  min-height: 18px;
  width: 19px;
  height: 18px;
}

.top-reviews__total-reviews-ammount {
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
  font-style: normal;
}

.top-reviews__slider {
  display: flex;
  gap: var(--m-unit--top-reviews-gap);
  transition: transform 1.3s ease-out;
  padding-left: 0px;
}

.top-reviews__review {
  flex: 0 0 calc(33.33% - --m-unit--top-reviews-gap); /* Each review takes 33.33% of the width with a 50px gap */
  min-width: calc(33.33% - var(--m-unit--top-reviews-gap));
  max-width: calc(33.33% - var(--m-unit--top-reviews-gap));
  display: flex;
  flex-direction: column;
  font-size: 24px;
  overflow: visible;
}

.top-reviews__star--regular {
  background-color: #B8865C;
  min-width: 16px;
  max-width: 16px;
  min-height: 15px;
  max-height: 15px;
}
  
.top-reviews__review-rating {
  display: flex;
  position: relative;
}

.top-reviews__review-rating-date {
  font-size: 12px;
  font-style: italic;
 position: relative;
 top: 0.1rem;
 left: 0.5rem;
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-5deg, 0deg);
}

.top-reviews__review-title {
  font-size: 16px;
  white-space: nowrap;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
  color: var(--color--lighter-black);
}

.top-reviews__review-testimony {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0.2rem;
  line-height: 1rem;
}

.top-reviews__review-signature {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #737373; 
  margin: 0;
}

@media screen and (max-width: 450px) {
  .top-reviews__total-reviews {
    top: 3.7rem;
  }
}

@media screen and (max-width: 768px) {
  .top-reviews__review {
    flex: 0 0 calc(50% - var(--m-unit--top-reviews-gap)); 
    min-width: calc(50% - var(--m-unit--top-reviews-gap));
    max-width: calc(50% - var(--m-unit--top-reviews-gap));
  }
}

@media screen and (max-width: 500px) {
  .top-reviews__review {
    flex: 0 0 calc(100% - var(--m-unit--top-reviews-gap)); 
    min-width: calc(100% - var(--m-unit--top-reviews-gap));
    max-width: calc(100% - var(--m-unit--top-reviews-gap));
  }
}

/** FOOTER */

.footer__typography {
  font-family: Roboto;
  font-size: 16px;
  color: white;
}

.footer__typography a {
  color: white;
}

.footer__typography a:hover {
  text-decoration: underline;
}

.footer__top {
  display: flex;
  justify-content: center;
  background-color: #1A2B34;
}

.footer__top-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding-left: 1rem;
}

.footer {
 display: flex;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 background-image: url(/img/footer-background.jpg);
 background-position: center;
 background-size: contain;
}

.footer__max-width-wrap {
  max-width: calc(1170px + (2rem * 2));
  position: relative;
}

.footer__sign-up-tagline {
  font-weight: 500;
  text-align: center;
}

.footer__stay-updated-tag {
  font-size: 15px;
  margin: 0;
}

.footer__terms-and-conditions {
  font-size: 10px;
  margin: 0;
}

.footer__sign-up {
  display: flex;
}

.footer__sign-up-form {
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid var(--color--primary);
  padding-bottom: 0.2rem;
  margin: 0 1rem 0 1rem;
  background-color: inherit;
  caret-color: var(--color--primary);
  color: var(--color--primary);
}

.footer__sign-up-form::placeholder {
  color: var(--color--primary);
}

.footer__sign-up-btn {
  font-size: 14px;
  font-weight: 600;
}

.footer__social-link-wrap {
 place-content: end center;
 margin-left: auto;
 display: flex;
 align-items: center;
}

.footer__social-link-tagline {
  font-size: 16px;
  font-weight: 700;
  margin-right: 1.5rem;
  margin-left: 2rem;
  padding-bottom: 0.3rem;
  width: min-content;
}

.footer__social-link {
  width: 27px;
  margin: 2rem 1.5rem 2rem 0;
}

.footer__middle {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 3rem 2rem;
  
}

.footer__main-background-holder {
  background-image: url(/img/footer-background.jpg);
  background-position: center;
  background-size: contain;
  padding: 2rem;
}

.footer__middle-left {
  display: flex;
  flex-direction: column;
  flex-basis: 30.5%;
}

.footer__help-main-contact {
  display: flex;
  gap: 4rem;
}

.footer__help-link-list-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
  position: relative;
  padding-bottom: 0.5rem;
  
}

.footer__help-link-list-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid var(--color--transparent--thin-white); 
}

.footer__help-link-list-wrap::after {
  content: '';
   position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 1px solid var(--color--transparent--thin-white); 
}

.footer__help-link-holder{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 0.5rem;
}

.footer__help-link-icon {
  width: 40px;
  margin-right: 0.7rem;
}

.footer__faq-link {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__faq-link-icon {
  margin: 0.5rem 0;
  width: 35px;
}

.footer__email-link {
  font-size: 12px;
  font-weight: 700;
}

.footer__email-link-icon {
  width: 35px;
}

/* Footer Help Link */
.footer__help-link {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__help-contact {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  margin: 0;
}

.footer__middle-right::before {
  content: ' ';
  height: 100%;
  width: 0;
  border-right: 1px solid var(--color--transparent--thin-white)
}

.footer__middle-right {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

.footer__main-link-list {
  display: flex;
  flex-direction: column;
}

.footer__main-link-list-heading {
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color--transparent--thin-white);
}

.footer__main-link {
  margin: 0.5rem 0 0.2rem 0;
}

.footer__bottom {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  font-weight: 400;
  padding-bottom: 1.4rem;
}

.footer__bottom-links {
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.footer__logo {
  width: 170px;
}

.footer__address {
  font-size: 12px;
  display: inline;
  line-height: 0;
  margin-left: 0.5rem;
  white-space: nowrap;
}














