

/*! *!*!* NOTES !*!*!*!*!*!*!*!*!*/

/** ENTIRE COMPONANT SECTIONS ARE LABELED UPPERCASE GREEN  */
/*& subsections of components are lowercase pink */
/*~ short descriptions of what a selector does are purple */
/*? description of specific styling rule is blue */

/*! *!*!* NOTES !*!*!*!*!*!*!*!*!*/



/** GLOBAL */

:root {
    --color--primary: #B8885F;
    --banner-main-height: 500px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/*~ sets global grid layout */
.main-wrap {
    display: flex;
    flex-direction: column;
}

/** TYPOGRAPHY */

/*~ font imports */
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);

    font-family: Quantico;
    src: url(/fonts/Quantico-Regular.ttf);
}

/** NAVIGATION */

/*~ general positioning */
.nav-top {
    background: #1A2B34;
    color: rgba(255, 255, 255, 0.582);
    display: flex;
    text-transform: uppercase;
    /*? canters the nav-top-max-width-wrap */
    justify-content: center;
    padding: 0.5rem 1rem;
}

/*~ list appearance */
.nav-top__list--max-width-wrap {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.nav-top__list {
    /*? display links horizontal & remove list bullets */
    display: flex;
    list-style-type: none;
    gap: 1.3rem;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.nav-top__list a {
    /*? 100% typography */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 560;
    text-decoration: none;
    color: white;
    line-height: 0;
    letter-spacing: 0.05rem;
    word-spacing: 1.5px;
}

.nav-top__list a:hover {
    color: #B8885F;
}

@media screen and (max-width: 768px) {
    .nav-top {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .nav-top__list a {
        font-size: 14px;
    }
}

/*& nav-main */

/*~ general content positioning */
.nav-main {
    background: url(/img/nav-main-background.jpg);
    /*? create shadow overlay to darken img */
    box-shadow: inset 0 0 0 2000px rgba(17, 17, 17, 0.645); 
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
}

.nav-main__content--max-width-wrap {
    width: 800px;
}

/*~ top content positioning */
.nav-main__content--top {
    display: flex;
    align-content: center;
    width: 100%;
}

.nav-main__icon--logo {
    width: 200px;
}

/*~ search-bar appearance*/
.nav-main__input-group {
    display: flex;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.508);
    margin: 0.4rem 0 0.4rem 1rem;
}

.nav-main__input-field::placeholder {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.656);
}

/*~ search-bar user-input appearance */
.nav-main__input-field {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(208, 218, 218);
    caret-color: aliceblue;
    width: 100%;
    background: none;
    border: 0;
    outline: none;
    padding-left: 0.8rem;
    /*? perfectly center text */
    padding-top: 0.12rem;
}


/*~ search icon appearance*/
.nav-main__icon--search {
    width: 15px;
    height: 15px;
    margin-right: 0.33rem;
    align-self: center;
}

.nav-main__sign-in {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-main__sign-in p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    margin-left: 1rem
}

.nav-main__sign-in p::after {
    content: '▼';
    font-size: 10px;
    margin: 0.2rem;
}

.nav-main__icon--cart {
    width: 27px;
    height: 22px;
    align-self: center;
    margin-left: 1.2rem;
}

/*& nav-main links */

.nav-main__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: white;
    gap: 0.7rem;
    padding: 1rem 0 0 0;
    margin: 0;
}

.nav-main__list-item--separator {
    font-size: 20px;
    margin: 0;
    color: rgba(240, 248, 255, 0.444);
    transform: translateY(-1.2px);  
}

.nav-main__list a {
    font-family: Quantico;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: white;
    
}

.nav-main__list a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color--primary);
    text-decoration-thickness: 0.13rem;
}


/** BANNERS */

/*& BANNER-MAIN */
.banner {
    width: 100%;
    height: var(--banner-main-height);
    overflow: hidden;
    /*? the banner itself must be relative pos for
        the absolute pos of the sections to work */
    position: relative;
}

/*~ positioning & drop-shadow */
.banner__section {
    width: 100%;
    height: var(--banner-main-height);
    /*? so they all overlap */
    position: absolute;
    left: 0;
    top: 0;
    /*? background pos */
    background-size:cover;
    background-position: center;
    /*? for background-color visibility
        so we can see shadow overlay */
    background-blend-mode:color;
    background-color: rgba(0, 0, 0, 0.425);
    transition: opacity 0.5s ease-in-out;
    /*? hide unless active with js */
    opacity: 0;
    /*? line up header, tagline, & btn */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*~ js iterates through banner sections at set interval */
.banner__section.active {
    opacity: 1;
}

/*& BANNER-MAIN background images */

/*~ several options were explored and it was concluded 
    that due to the way i needed the images to overlap 
    that this would be the best solution. To add additional
    banner sections you will need to create a subsequent 
    banner__section--# class */
.banner__section--1 {
    background-image: url(/img/banner-main-img-1.jpg);
}

.banner__section--2 {
    background-image: url(/img/banner-main-img-2.jpg);
}

.banner__section--3 {
    background-image: url(/img/banner-main-img-3.jpg);
}

.banner__section--4 {
    background-image: url(/img/banner-main-img-4.jpg);
}

.banner__section--5 {
    background-image: url(/img/banner-main-img-5.jpg);
}

/*& BANNER-MAIN typography */
.banner__header {
    font-family: Quantico, Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: white;
    margin: 0 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.banner__tagline {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    margin: 1.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.banner__tagline em {
    font-weight: 800;
    font-size: 22px;
    font-style: normal;
}

.banner__btn {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background: var(--color--primary);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border: 0;
    /*? want to make sure the button will keep
        round edges no matter the size of its contents */
    border-radius: 999px;
    padding: 0.5rem 1rem;
}

.banner__btn:hover {
    background-color: var(--color--primary-hover);
}
