<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="partners.css" />
    <title>partners</title>
  </head>
  <body>
    <section class="partners-wrap">
      <h2 class="partners-header">proud to&nbsp;be partnered with:</h2>
      <div class="partners">
        <a href=""
          ><img src="/img/partner-glock.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-s-and-w.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-keltec.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-sig.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-taurus.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-mossberg.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-herritage.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-rossi.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-walther.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-bond-arms.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-eea.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-imi.PNG" alt="" class="partner__img"
        /></a>
        <a href=""
          ><img src="/img/partner-century-arms.PNG" alt="" class="partner__img"
        /></a>
      </div>
    </section>
  </body>
</html>
