<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/components/footer/footer.css" />
    <title>Footer</title>
  </head>
  <body>
    <div class="footer__top">
      <div class="footer__max-width-wrap">
        <div class="footer__top-content">
          <div class="footer__sign-up-tagline">
            <p class="footer__stay-updated-tag">
              Stay in the know. Get Guns.com offers and news!!
            </p>
            <p class="footer__terms-and-conditions">
              By signing up I agree to ITS-pew.com's
              <a href="" class="footer__terms--link">Terms and Condtions</a>
              and <a href="" class="footer__terms--link">Privacy Policy</a>
            </p>
          </div>
          <div class="footer__sign-up">
            <input
              placeholder="Enter Your Email"
              type="text"
              class="footer__sign-up-form"
            />
            <button class="btn footer__sign-up-btn">SIGN&nbsp;UP</button>
          </div>
          <div class="footer__social-link-wrap">
            <p class="footer__social-link-tagline">Follow Us&nbsp;On:</p>
            <a href=""
              ><img
                class="footer__social-link"
                src="/img/footer-icon-youtube.PNG"
                alt="" /></a
            ><a href=""
              ><img
                class="footer__social-link"
                src="/img/footer-icon-facebook.PNG"
                alt="" /></a
            ><a href=""
              ><img
                class="footer__social-link"
                src="/img/footer-icon-instagram.PNG"
                alt="" /></a
            ><a href=""
              ><img
                class="footer__social-link"
                src="/img/footer-icon-twitter.PNG"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
    <section class="footer">
      <div class="footer__max-width-wrap">
        <div class="footer__middle">
          <div class="footer__middle-left">
            <div class="footer__help-main-contact">
              <a href="" class="footer__help-link"
                >Need help?
                <p class="footer__help-contact">
                  service@guns.com
                  <br />
                  Call (876) 543-2109
                </p></a
              >
              <div class="footer__faq-link">
                <img
                  src="/img/footer-icon-faq.PNG"
                  alt=""
                  class="footer__faq-link-icon"
                />
                <a href="">FAQ</a>
              </div>
              <div class="footer__faq-link">
                <img
                  src="/img/footer-icon-email.PNG"
                  alt=""
                  class="footer__faq-link-icon"
                /><a href="">EMAIL</a>
              </div>
            </div>
            <div class="footer__help-link-list-wrap">
              <div class="footer__help-link-holder">
                <img
                  class="footer__help-link-icon"
                  src="/img/footer-icon-how-buy-online.PNG"
                  alt=""
                />
                <a href="" class="footer__help-link">how to buy a gun online</a>
              </div>
              <div class="footer__help-link-holder">
                <img
                  src="/img/footer-icon-used-guns.PNG"
                  alt=""
                  class="footer__help-link-icon"
                />
                <a href="" class="footer__help-link">certified used guns</a>
              </div>
              <div class="footer__help-link-holder">
                <img
                  src="/img/footer-icon-we-buy-guns.PNG"
                  alt=""
                  class="footer__help-link-icon"
                />
                <a href="" class="footer__help-link">we buy guns</a>
              </div>
              <div class="footer__help-link-holder">
                <img
                  src="/img/footer-icon-our-promise.PNG"
                  alt=""
                  class="footer__help-link-icon"
                />
                <a href="" class="footer__help-link">the Pew.com Promise</a>
              </div>
            </div>
          </div>
          <div class="footer__middle-right">
            <div class="footer__main-link-list">
              <h4 class="footer__main-link-list-heading">customer resources</h4>
              <a href="" class="footer__main-link">Check On My Order</a
              ><a href="" class="footer__main-link">Contact Customer Service</a
              ><a href="" class="footer__main-link">Financing</a
              ><a href="" class="footer__main-link"
                >Return and Warranty Policy</a
              >
              <a href="" class="footer__main-link">Shipping</a>
              <a href="" class="footer__main-link">Guns for Sale</a>
            </div>
            <div class="footer__main-link-list">
              <h4 class="footer__main-link-list-heading">seller resources</h4>
              <a href="" class="footer__main-link"
                >Join the ITS-Pew.com Network</a
              ><a href="" class="footer__main-link"
                >Login to My Seller Dashboard</a
              ><a href="" class="footer__main-link"
                >Contact Buisiness Development</a
              ><a href="" class="footer__main-link">Affiliate Programs</a>
            </div>
            <div class="footer__main-link-list">
              <h4 class="footer__main-link-list-heading">who we are</h4>
              <a href="" class="footer__main-link">About Us</a
              ><a href="" class="footer__main-link">How We Compare</a
              ><a href="" class="footer__main-link">We Give Back</a
              ><a href="" class="footer__main-link">Influencers</a>
              <a href="" class="footer__main-link">ITS-Pew.com Careers</a>
              <a href="" class="footer__main-link">Customer Reviews</a>
              <a href="" class="footer__main-link">Advertise With Us</a>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="footer__bottom-links">
            <a href="">Terms and Conditions</a>
            <a href="">Private Policy</a>
            <a href="">Site Map</a>
          </div>
          <img
            src="/img/nav-main-logo.png"
            alt="footer logo"
            class="footer__logo"
          />
          <p class="footer__address">
            PO Box 8888 338800 Compute Blvd Bunkville, MS 39020 ©2023
            ITS-Pew.com All Rights Reserved
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
