<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Panable Banner</title>
  </head>
  <body>
    <!--*-->
    <!--* PANABLE BANNER -->
    <!--*-->
    <div class="banner-panable">
      <!--@ see-all -->
      <div class="banner-panable__see-all"><a href="/">SEE&nbsp;ALL</a></div>
      <!--& head -->
      <div class="banner-panable__head">
        <!--@ heading-->
        <h2 class="banner-panable__heading">closeout deals</h2>
        <!--@ arrows -->
        <div class="banner-panable__arrow banner-panable__arrow-left">←</div>
        <div class="banner-panable__arrow banner-panable__arrow-right">→</div>
      </div>
      <!--& contain products -->
      <div class="banner-panable__product-container">
        <div class="banner-panable__product-grid">
          <!--@ product -->
          <!--^ ^^^^^^^ -->
          <div class="banner-panable__product">
            <!--@ brand -->
            <h3 class="banner-panable__product-brand">heckler & koch</h3>
            <!--@ name -->
            <p class="banner-panable__product-name">vp9</p>
            <!--& contain img -->
            <div class="banner-panable__product-img-container">
              <!--@ discount-tag -->
              <a href=""
                ><span class="banner-panable__product-discount-tag"
                  >Discount&nbsp;Code</span
                ></a
              >
              <!--@ IMAGE @-->
              <a href="/">
                <img
                  class="banner-panable__product-img"
                  src="/components/banner-panable/banner-test-img.png"
                  alt="my image"
                />
              </a>
            </div>
            <!--& price -->
            <div class="banner-panable__product-pricing-group">
              <p class="banner-panable__product-condition">new</p>
              <p class="bbanner-panable__product-price">$849.00</p>
              <p class="banner-panable__product-price-drop">was&nbsp;$900.00</p>
            </div>
          </div>
          <!--@ product -->
          <!--^ ^^^^^^^ -->
          <div class="banner-panable__product">
            Item 2
            <p>but each container will be the same size</p>
          </div>
          <!--@ product -->
          <!--^ ^^^^^^^ -->
          <div class="banner-panable__product">Item 3</div>
          <!--@ product -->
          <!--^ ^^^^^^^ -->
          <div class="banner-panable__product">Item 4</div>
          <!--@ product -->
          <!--^ ^^^^^^^ -->
          <div class="banner-panable__product">Item 5</div>
          <!--@ product -->
          <!--^ ^^^^^^^ -->
          <div class="banner-panable__product">Item 6</div>
          <!--@ product -->
          <!--^ ^^^^^^^ -->
          <div class="banner-panable__product">Item 7</div>
          <!--@ product -->
          <!--^ ^^^^^^^ -->
          <div class="banner-panable__product">Item 8</div>
          <!--@ product -->
          <!--^ ^^^^^^^ -->
        </div>
      </div>
    </div>
    <!--*-->
    <!--* PANABLEBANNER -->
    <!--*-->
    <script src="/components/banner-panable/banner-panable.js"></script>
  </body>
</html>
