<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="/components/banner-spotlight/banner-spotlight.css"
    />
    <title>Spotlight Banner</title>
  </head>
  <body>
    <!--*-->
    <!--* SPOTLIGHT BANNER -->
    <!--*-->
    <div class="banner-spotlight">
      <div class="banner-spotlight__grid">
        <div class="banner-spotlight__spotlight banner-spotlight--1">
          <p class="banner-spotlight__tagline">all the guns you can shoot</p>
          <h2 class="banner-spotlight__heading">PEW PEW</h2>
          <button class="btn">CLICK PEW</button>
        </div>
        <div class="banner-spotlight__spotlight banner-spotlight--2">
          <p class="banner-spotlight__tagline">all the guns you can shoot</p>
          <h2 class="banner-spotlight__heading">BANG PEW</h2>
          <button class="btn">CLICK PEW</button>
        </div>
        <div class="banner-spotlight__spotlight banner-spotlight--3">
          <p class="banner-spotlight__tagline">all the guns you can shoot</p>
          <h2 class="banner-spotlight__heading">KER-POW!</h2>
          <button class="btn">CLICK PEW</button>
        </div>
      </div>
    </div>
    <!--*-->
    <!--* SPOTLIGHT BANNER -->
    <!--*-->
  </body>
</html>
