<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site Banner</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="banner-main.css" />
  </head>
  <body>
    <div class="banner">
      <section class="banner__section banner__section--1">
        <h1 class="banner__header">this is my site banner</h1>
        <p class="banner__tagline">this is the text i need to see here</p>
        <button class="banner__btn">SEE MORE</button>
      </section>
      <section class="banner__section banner__section--2">
        <h1 class="banner__header">how does it look</h1>
        <p class="banner__tagline">this text should be seen again</p>
        <button class="banner__btn">Learn About It</button>
      </section>
      <!-- Add more image tags for your other images -->
    </div>
    <script src="banner-main.js"></script>
  </body>
</html>
