<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="slider-top-reviews.css" />
    <title>Top-reviews-slider</title>
  </head>
  <body>
    <div class="top-reviews__wrap">
      <div class="top-reviews">
        <div class="top-reviews__header">
          <h2 class="top-reviews__heading">REAL REVIEWS FROM REAL CUSTOMERS</h2>
          <div class="top-reviews__total-reviews">
            <span class="star top-reviews__total-reviews-star"></span
            ><span class="star top-reviews__total-reviews-star"></span
            ><span class="star top-reviews__total-reviews-star"></span
            ><span class="star top-reviews__total-reviews-star"></span
            ><span class="star top-reviews__total-reviews-star"
              ><span
                class="star-half top-reviews__total-reviews-star-half"
              ></span
            ></span>
            <p class="top-reviews__total-reviews-ammount">
              &nbsp;49700 REVIEWS
            </p>
          </div>
          <div class="top-reviews__dir-btn-wrap">
            <!-- Left Button -->
            <button class="top-reviews__dir-btn left-button">
              <img
                class="top-reviews__dir-btn-icon"
                src="top-reviews-arrow-left.PNG"
                alt=""
              />
            </button>
            <!-- Right Button -->
            <button class="top-reviews__dir-btn right-button">
              <img
                class="top-reviews__dir-btn-icon"
                src="top-reviews-arrow-right.png"
                alt=""
              />
            </button>
          </div>
        </div>

        <div class="top-reviews__slider">
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <div class="top-reviews__review">
            <div class="top-reviews__review-rating">
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <div class="star top-reviews__star--regular"></div>
              <p class="top-reviews__review-rating-date">8/9/2023</p>
            </div>
            <h3 class="top-reviews__review-title">
              Excellent quality pew-bang
            </h3>
            <p class="top-reviews__review-testimony">
              This is the single best pew bang I have ever banged!! I will
              definately be getting more pew bangs from ITS-Pew.com!!!!
            </p>
            <p class="top-reviews__review-signature">Ian S.</p>
          </div>
          <!-- Add more reviews here -->
        </div>
      </div>
    </div>
    <script src="slider-top-reviews.js"></script>
  </body>
</html>
